*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#form{
    padding-top:8%;
    padding-left:1%;
    text-align: left;
    



}
.control{
    width:15%;

}
.btn{
   width:200px;
   height:30px;
   margin-top:10px;
   background-color: rgb(72, 144, 212);
   color:white;
   border-radius: 7px;
    font-size: 15px;
   font-family: 'Francois One', sans-serif;
  text-align: center;
  padding-top:3px;
  padding-bottom: 10px;

}

h1{
    font-size:30px;
    border-width: 100%;
    background-color: rgb(4, 4, 37);
    background: rgb(2,0,36);
    background: linear-gradient(275deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(0,212,255,1) 100%);
    color:white;
    text-align: center;
    margin-top:10%;
    font-family: 'Francois One', sans-serif;

    
    
    }

h2{
    font-size:15px;
    font-family: 'Francois One', sans-serif;
    color:black;
    width:200px;
    margin-left:20px;
}
h3{
    font-family: 'Francois One', sans-serif;
}
.display{
    text-align: center;
    margin-top:20px;
}
input{
    width:200px;
    border-radius: 7px;
    border: solid 1px black;
}
.historyBtns{
    margin-left:20px;
    border-radius:7px ;
  border:  1px; 
  font-size: 15px;
  width:200px;
  padding:5px;
  height:30px;
  margin-top:5px;
}
.card{
    height:6rem;
    width:450px;
    margin:5px;
    font-size:7px;
    padding:1px;
    
}
.container{
    width:100%;
}

.col{
    width:100%;
}
