*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#form{
    padding-top:8%;
    padding-left:2%;


}
.control{
    width:15%;

}
.btn{
   width:15%;
   height:30px;
   margin-top:10px;
   background-color: rgb(72, 144, 212);
   color:white;
   border-radius: 7px;
    font-size: 15px;
   font-family: 'Francois One', sans-serif;

}

h1{
    font-size:50px;
    border-width: 100%;
    background-color: rgb(4, 4, 37);
    background: rgb(2,0,36);
    background: linear-gradient(275deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(0,212,255,1) 100%);
    color:white;
    text-align: center;
    margin-top:10%;
    font-family: 'Francois One', sans-serif;

    
    
    }

h2{
    font-size:25px;
    font-family: 'Francois One', sans-serif;
    color:black;
}
h3{
    font-family: 'Francois One', sans-serif;
}
.display{
    text-align: center;
}